[Desktop Entry]
Type=Application
Name=Camera
Exec=/usr/bin/glacier-camera
Icon=icon-launcher-camera
X-Desktop-File-Install-Version=0.20
Name[ru]=Камера
Name[cs]=Fotoaparát
Name[fr]=Appareil photo
Name[pl]=Aparat
Name[fi]=Kamera
Name[uk]=Камера
Name[sk_SK]=Fotoaparát
Name[de]=Kamera
