[Desktop Entry]
Type=Application
Name=Camera
Exec=invoker --type=nemomobile -s glacier-camera
Icon=icon-launcher-camera
X-Desktop-File-Install-Version=0.20
Name[cs]=Fotoaparát